
/* Laptop Device */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 950px;
    }
    .banner_title {
        font-size: 30px;
    }
    .banner_para {
        font-size: 14px;
    }
    .contect_title {
        font-size: 20px;
    }
}
/* Tablet Device */
@media only screen and (min-width:768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
    .banner_content {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        text-align: center;
    }
    .banner_img {
        margin-left: 120px;
    }
    .collection_content {
        grid-template-columns: repeat(2, 1fr);
    }
    .item_more {
	text-align: left;
    }
    .contect_main {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 100px;
    }
    .content_img {
        margin-left: 50px;
    }
}
/* Medium Device */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 600px;
    }
    .menu_area {
        flex-direction: column;
        margin-top: 30px;
    }
    .serach_icon.mr-34{
        margin-right: 10px;
    }
    .logo_title,
    .menu {
        margin-right: 100px;
    }
    .banner_content {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        text-align: center;
    }
    .banner_title {
        font-size: 35px;
        line-height: 50px;
        margin-right: 95px;
    }
    .banner_para {
        margin: 16px 116px 16px 10px;
    }
    .banner_btn {
        margin-right: 100px;
    }
    .banner_img {
        width: 390px;
        height: 390px;
        margin-left: 30px;
    }
    .banner_img .circle_1 {
        width: 330px;
        height: 330px;
        top: 7.5%;
        left: 7.5%;
    }
    .banner_img .circle_2 {
        width: 230px;
        height: 230px;
        top: 20%;
        left: 20%;
    }
    .banner_img .banner_img_item {
        left: 8px;
        background-size: 370px;
    }
    .banner_img:hover .banner_img_item{
        transform: scale(1.2) rotate(330deg);
        -webkit-transform: scale(1.2) rotate(330deg);
        -moz-transform: scale(1.2) rotate(330deg);
        -ms-transform: scale(1.2) rotate(330deg);
        -o-transform: scale(1.2) rotate(330deg);
}
    .brand_content {
        grid-template-columns: repeat(4,1fr);
        grid-gap: 18px;
    }
    .collection_content {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 120px;
    }
    .C_item_img img {
        width: 100%;
    }
    .item_more {
        text-align: left;
    }
    .contect_main {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 100px;
    }
    .content_img {
        margin-left: 50px;
    }
    .content_img {
        width: 320px;
        height: 210px;
    }
    .contect_title {
        font-size: 30px;
        margin: 6px 15px 6px 0;
    }
    .footer_section{
        width: 125%;
    }
}
/* Moblie Device */
@media only screen and (max-width: 480px) {
    .container{
        width: 350px;
    }
    .menu {
        margin-right: 40px;
    }
    .menu ul {
        display: none;
    }
    .serach_icon{
        display: none;
    }
    .banner_content {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        justify-content: center;
        text-align: center;
    }
    .banner_para {
        margin: 16px 25px 16px 0;
    }
    .item1 {
        order: 2;
    }
    .banner_img {
        width: 290px;
        height: 290px;
    }
    .banner_img .circle_1 {
        width: 240px;
        height: 240px;
        top: 9%;
        left: 8%;
    }
    .banner_img .circle_2 {
        width: 160px;
        height: 160px;
        top: 23%;
        left: 21%;
    }
    .banner_img .banner_img_item {
        left: 5px;
        background-size: 270px;
    }
    .banner_img:hover .banner_img_item{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .banner_title {
        font-size: 30px;
        line-height: 40px;
        margin-right: 20px;
    }
    .brand_content {
        grid-template-columns: repeat(4,1fr);
        grid-gap: 18px;
    }
    .collection_content {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 30px;
    }
    .item_more {
        text-align: left;
    }
    .C_item_img img {
        width: 385px;
    }
    .contect_main {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 100px;
    }
    .content_img {
        margin-left: 50px;
    }
    .content_img {
        width: 230px;
        height: 140px;
    }
    .contect_title {
        font-size: 30px;
        margin: 6px 15px 6px 0;
        line-height: 35px;
    }
    .footer_section {
        width: 100%;
    }
}