/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset & utility Code */
*{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
}
.mr-34{
    margin-right: 34px;
}
.btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    background: #e02c6d;
    color: #fff;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 41px;
}
/* ===================
    Hearder Part Start 
=======================*/
.menu_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}
.logo_title {
    font-size: 24px;
    font-weight: 700;
}
.menu {
    display: flex;
}
.menu ul {
    display: flex;
}
.menu ul li {
    display: flex;
    margin-right: 34px;
}
.menu ul li a {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}
/* Before Effect */
.menu ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #54637b;
    width: 0;
    height: 2px;
    margin-bottom: 4px;
    transition: width .6s ease-in;
    -webkit-transition: width .6s ease-in;
    -moz-transition: width .6s ease-in;
    -ms-transition: width .6s ease-in;
    -o-transition: width .6s ease-in;
}
/* Icon */
.serach_icon,
.addTo_cart {
    font-size: 20px;
}
a .fa,
.fas{
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}
/* Hover */
.menu ul li:hover a,
.menu .serach_icon:hover .fas,
.menu .addTo_cart:hover .fa{
    color: #54637b;
}
.menu ul li:hover a::before{
    width: 100%;
}
/* Menu area end */

/* ===================
    Hearder Part End 
=======================*/


/* =====================
    H-banner Part Start 
=======================*/
.h_banner_section {
    padding: 40px 0 70px 0;
}
.banner_content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 133px;
    align-items: center;
}
.banner_title {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}
.banner_para {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 16px 0;
}
.banner_btn .fas {
    font-size: 16px;
    background: transparent;
    color: #fff;
    margin-left: 8px;
}
.banner_btn{
    transition: banner_btn .5s ease-in;
    -webkit-transition: banner_btn .5s ease-in;
    -moz-transition: banner_btn .5s ease-in;
    -ms-transition: banner_btn .5s ease-in;
    -o-transition: banner_btn .5s ease-in;
}
/* Hover */
.banner_btn:hover,
.banner_btn:hover .fas{
    background: transparent;
    color: #e02c6d;
    border: 1px solid #e02c6d;
}
.banner_btn:hover .fas{
    border: transparent;
}
.banner_img {
    width: 475px;
    height: 475px;
    border: 3px solid #f1e4ff;
    border-radius: 50%;
    position: relative;
}
/* Background circle */
.banner_img .circle_1 {
    width: 332px;
    height: 332px;
    background: #f1e4ff;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
}
.banner_img .circle_2 {
    width: 195px;
    height: 195px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}
.banner_img img{
    width: 440px;
    height: 414px;
    background: transparent;
}

/* =====================
    H-banner Part End 
=======================*/